<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Student Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/departments}">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Login</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1>Add New Department</h1>
                <div class="card-body">
                    <form th:action="@{/departments/save}" method="post" th:object="${department}">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3">
                            <label class="form-label" for="form5Example1">Department Name</label>
                            <input type="text" name="name" id="form5Example1" th:field="*{name}" class="form-control"
                            placeholder="enter dept name">
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" for="form5Example2">Telephone</label>
                            <input type="text" id="form5Example2" name="telephone" th:field="*{telephone}" class="form-control"
                                   placeholder="enter dept telephone">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="form5Example3">Location</label>
                            <input type="text" id="form5Example3" name="location" th:field="*{location}" class="form-control"
                                   placeholder="enter dept location">
                        </div>
                        <div class="footer-body">
                            <button type="submit" class="btn btn-primary mt-3">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="">
        <footer class="text-center text-white" style="background-color: #0a4275;">
            <div class="container p-4 pb-0">
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Register for Usage</span>
                        <button type="button" class="btn btn-outline-light btn-rounded">
                            Sign up!
                        </button>
                    </p>
                </section>
            </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © August, 2020 Copyright:
                <a class="text-white" href="#">jerrycodes.com</a>
            </div>
        </footer>
    </section>
</body>
</html>